.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  height: 2799px;
  overflow: hidden;
  width: 1276px;
}

.frame .overlap {
  height: 3013px;
  left: -184px;
  position: relative;
  width: 1643px;
}

.frame .kitchen-tiles {
  height: 3013px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1643px;
}

.frame .overlap-group {
  height: 3013px;
  left: 41px;
  position: relative;
  width: 1602px;
}

.frame .div {
  height: 3013px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1602px;
}

.frame .header {
  background-color: transparent;
  height: 548px;
  left: 143px;
  position: absolute;
  top: 0;
  width: 1459px;
}

.frame .element {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .img {
  height: 274px;
  left: 267px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-2 {
  height: 274px;
  left: 534px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-3 {
  height: 274px;
  left: 801px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-4 {
  height: 274px;
  left: 1068px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.frame .element-5 {
  height: 274px;
  left: 1192px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 84px;
}

.frame .marco-izquierdo {
  height: 2529px;
  left: 143px;
  position: absolute;
  top: 270px;
  width: 83px;
}

.frame .header-de-abajo {
  height: 274px;
  left: 0;
  position: absolute;
  top: 2739px;
  width: 1602px;
}

.frame .element-6 {
  height: 60px;
  left: 1335px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.frame .element-7 {
  height: 60px;
  left: 1068px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-8 {
  height: 60px;
  left: 801px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-9 {
  height: 60px;
  left: 534px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-10 {
  height: 60px;
  left: 267px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 267px;
}

.frame .element-11 {
  height: 60px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 124px;
}

.frame .marco-derecho {
  height: 2191px;
  left: 1335px;
  position: absolute;
  top: 548px;
  width: 267px;
}

.frame .overlap-group-2 {
  height: 547px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.frame .element-12 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 273px;
  width: 84px;
}

.frame .element-13 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.frame .element-14 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 547px;
  width: 84px;
}

.frame .element-15 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 821px;
  width: 84px;
}

.frame .element-16 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1095px;
  width: 84px;
}

.frame .element-17 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1369px;
  width: 84px;
}

.frame .element-18 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1643px;
  width: 84px;
}

.frame .element-19 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1917px;
  width: 84px;
}

.frame .uno-no-roba-su {
  height: 200px;
  left: 324px;
  position: absolute;
  top: 2475px;
  width: 997px;
}

.frame .personaliza-y-cuida {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 48px;
  font-weight: 300;
  height: 200px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 995px;
}

.frame .mensaje-de-pagos {
  height: 235px;
  left: 348px;
  position: absolute;
  top: 2131px;
  width: 999px;
}

.frame .si-un-producto-no-se {
  color: #1d1d1b;
  font-family: "Montserrat", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 216px;
  left: 472px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 525px;
}

.frame .buena-fe {
  height: 235px;
  left: 0;
  position: absolute;
  top: 0;
  width: 444px;
}

.frame .escanea-y-paga {
  height: 411px;
  left: 319px;
  position: absolute;
  top: 1613px;
  width: 419px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: var(--sans-subtitle-style-font-family);
  font-size: var(--sans-subtitle-style-font-size);
  font-style: var(--sans-subtitle-style-font-style);
  font-weight: var(--sans-subtitle-style-font-weight);
  height: 78px;
  left: 0;
  letter-spacing: var(--sans-subtitle-style-letter-spacing);
  line-height: var(--sans-subtitle-style-line-height);
  position: absolute;
  text-align: center;
  top: 333px;
  width: 417px;
}

.frame .screenshot {
  height: 280px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 400px;
}

.frame .seguridad {
  height: 429px;
  left: 835px;
  position: absolute;
  top: 1613px;
  width: 539px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: var(--sans-subtitle-style-font-family);
  font-size: var(--sans-subtitle-style-font-size);
  font-style: var(--sans-subtitle-style-font-style);
  font-weight: var(--sans-subtitle-style-font-weight);
  height: 94px;
  left: 0;
  letter-spacing: var(--sans-subtitle-style-letter-spacing);
  line-height: var(--sans-subtitle-style-line-height);
  position: absolute;
  text-align: center;
  top: 335px;
  width: 537px;
}

.frame .CV {
  height: 287px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 431px;
}

.frame .animacin-de-los {
  height: 498px;
  left: 206px;
  position: absolute;
  top: 1029px;
  width: 1234px;
}

.frame .overlap-2 {
  height: 506px;
  position: relative;
  width: 1232px;
}

.frame .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1232px;
}

.frame .imagen-demo {
  height: 441px;
  left: 112px;
  position: absolute;
  top: 65px;
  width: 1004px;
}

.frame .presentacin-del {
  height: 229px;
  left: 343px;
  position: absolute;
  top: 793px;
  width: 959px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 48px;
  font-weight: 300;
  height: 229px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 957px;
}

.frame .div-2 {
  height: 318px;
  left: 180px;
  overflow-x: scroll;
  position: absolute;
  top: 408px;
  width: 1280px;
}

.frame .porque {
  background-image: url(https://c.animaapp.com/RyJnyUrG/img/images-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 310px;
  left: 1581px;
  position: absolute;
  top: 23px;
  width: 505px;
}

.frame .porque-2 {
  background-image: url(https://c.animaapp.com/RyJnyUrG/img/empleados-min-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 311px;
  left: 1018px;
  position: absolute;
  top: 23px;
  width: 466px;
}

.frame .porque-3 {
  background-image: url(https://c.animaapp.com/RyJnyUrG/img/imahen-en-vos-confi-o-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 319px;
  left: 482px;
  position: absolute;
  top: 19px;
  width: 479px;
}

.frame .imagen-deslizante {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 348px;
  width: 1232px;
}

.frame .span {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.frame .text-wrapper-4 {
  font-weight: 700;
}

.frame .misin {
  height: 190px;
  left: 205px;
  position: absolute;
  top: 173px;
  width: 1250px;
}

.frame .barra-de-opciones {
  height: 112px;
  left: 205px;
  position: absolute;
  top: 41px;
  width: 1248px;
}
